* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right,#4A90E2,#2ED9B1);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.wrapper {
    width: 100%;
    max-width: 600px;
}

.header {
    text-align: center;
    margin-bottom: 25px;
}

.header h1 {
    font-size: 28px;
    margin: 0;
}

.header p {
    font-size: 14px;
    opacity: 0.9;
}

.card {
    background: #ffffff;
    color: black;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

label {
    font-weight: 600;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
    transition: 0.2s;
}

input:focus {
    border-color: #2a5298;
    outline: none;
    box-shadow: 0 0 5px rgba(42,82,152,0.4);
}

button {
    width: 100%;
    padding: 12px;
    background: #2a5298;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background: #1e3c72;
}

.result-card {
    margin-top: 20px;
    background: #f8faff;
    color: black;
    padding: 20px;
    border-radius: 12px;
    
}

.error {
    margin-top: 20px;
    background: #d32f2f;
    color: white;
    padding: 18px;
    border-radius: 12px;
}

/* Responsive Design */
@media (max-width: 480px) {
    .card {
        padding: 18px;
    }

    .header h1 {
        font-size: 22px;
    }

    button {
        font-size: 14px;
    }
}